@font-face {
    font-family: "peyda-light";
    src: url(static/fonts/peyda-light.ttf);
}

@font-face {
    font-family: "Peyda-Black";
    src: url(static/fonts/Peyda-Blackt.ttf);
}


@font-face {
    font-family: "Peyda-Medium";
    src: url(static/fonts/Peyda-Medium);
}

@font-face {
    font-family: "Peyda-Black";
    src: url(static/fonts/Peyda-Black);
}

@font-face {
    font-family: "Peyda-ExtraBold";
    src: url(static/fonts/Peyda-ExtraBold.ttf);
}

.userPart {
    width: 430.875px;
    height: 479px;
    flex-shrink: 0;
    border-radius: 28px;
    background: var(--FRAME-STYLE, rgba(255, 255, 255, 0.07));
    box-shadow: 0px 0px 7.9px 2px rgba(45, 60, 125, 0.40);
    backdrop-filter: blur(6.5px);
}

.TotalSecondPage {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 34.281px;
    background: var(--50, #F1F5FD);
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 34.281px;
}

.mainLogoInTop {
    width: 354.597px;
    height: 130.719px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupLogo {
    fill: var(--950, #1F264C);
    opacity: 0.892;
}

.Puser {
    color: #000;
    text-align: center;
    font-family: Sarbaz;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.UserInputPartTwo {
    display: flex;
    flex-direction: column;
    flex: 6;
}

.inputUser {
    width: 286px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 19px;
    border: 1px solid var(--400, #759FE5);
    background: var(--100, #E0E9F9);
    margin: 10px;
    color: #000;
    text-align: center;
    font-family: peyda-light;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.2px;
}

.Secondbtn {
    width: 111px;
    height: 50px;
    flex-shrink: 0;
    fill: var(--600, #4063D0);
    border-radius: var(--btn, 16px);
    background: var(--600, #4063D0);
    color: #FFF;
    text-align: center;
    font-family: peyda-light;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.6px;
    border: none;
    margin-top: 5px;
    padding: 0px;
    text-decoration: none;
    
}

.passPart {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.passWarnning {
    margin-bottom: 0px;
    margin-top: 15px;
    color: #000;
    text-align: center;
    font-family: peyda-light;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.2px;
}

.GettingPass {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.question {
    color: #000;
    text-align: center;
    font-family: peyda-light;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1px;
}

.link {
    color: var(--600, #4063D0);
    text-align: center;
    font-family: peyda-light;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1px;
    text-decoration: none;

}