.SecondPartWithMainPic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}

.text {
    color: #000;
    text-align: center;
    font-family: Cinema;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 97%;
    /* 124.16px */
}